<div class="">
  <%= print_menus(@menus) %>

  <div style="color:blue;cursor:pointer;" onclick="$('#add_menu_button').hide();$('#add_menu').show();" id="add_menu_button">
    [додати нове меню]
  </div>

  <div style="display:none" id="add_menu">
      <%= form_tag("/manager/addmenu", method: "post") do %>
          <%= text_field_tag("title", nil, :placeholder => 'title') %>
          <%= submit_tag(" add") %>
      <% end %>
  </div>
</div>

<div class="modal_window">
    <div id="modal_window_close" style="cursor:pointer;float:right;" onclick="$('.modal_window').hide();">[ зачинити ]</div>
    <div id="modal_window_body">loading....</div>
</div>



