<div class="items_block">
  <div class='item_list_full_right'><%= show_items_on_the_same_menu(@item) %></div>
  <%= show_item_body(@item) %>
</div>

<div style="clear:both"></div>

<div style="width:76%">
  <hr />
</div>
<div style="width:76%">
  <hr />
</div>
<div class="items_block">
  <div style="margin: 3px; padding: 3px;">Коментарі</div>
  <div style="margin-left: 20px; padding: 3px;width:409px;">
    <input type="text" placeholder="Ваше ім'я" style="width: 130px;";/>
    <textarea style="width:400px;height:50px;" placeholder="Коментар"></textarea>
    <div style="float:right"> <input type="submit" value="Зберегти"> </div>
  </div>
</div>



