<%= link_to('Send my report >>', '/report/today') %>

<h4> Daily report:</h4>
<hr>
status report <%= params[:day][0..-6] %>
<br />
<br />
<textarea style="width:980px; height: 707px;">
Hi Bobby!

Our results today:
<%= print_day_admin_bug_list(@bugs) %>

Thanks,
Slava
</textarea>